{% extends "layout.html" %}
{% block content %}
<!-- Wide card with share menu button -->
<style>
    .demo-card-wide.mdl-card {
      width: 512px;
    }
    .demo-card-wide > .mdl-card__title {
      color: #fff;
      height: 176px;
      background: url('static/Logo/LogoOff.png') center / cover;
    }
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }
    </style>
    
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Pi On Pi Off</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <center>
            Press the button below to switch on your computer
        </center>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <center>
          <a href=# id=process_input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="width: 465px; height: 40px; min-width: initial;">
            Power On!
          </a>
      </center>
      </div>
    </div>
{% endblock %}